* {
    laser0:                      #2b1f44;
    laser1:                      #b51f4a;
    laser2:                      #25b984;
    laser3:                      #f8c836;
    laser4:                      #4296f5;
    laser5:                      #ba4cbf;
    laser6:                      #3bacc3;
    laser15:                     #dc5001;

    background:                  @laser0;
    foreground:                  @laser6;

    background-color:            @background;
    separator-color:             @laser5;
    border-color:                @laser5;

    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @laser1;
    active-background:           @background;
    urgent-foreground:           @laser3;
    urgent-background:           @background;

    selected-normal-foreground:  @laser5;
    selected-normal-background:  @background;
    selected-active-foreground:  @laser5;
    selected-active-background:  @background;
    selected-urgent-foreground:  @laser5;
    selected-urgent-background:  @background;

    /* No alternate colors */
    alternate-normal-foreground: @normal-foreground;
    alternate-normal-background: @normal-background;
    alternate-active-background: @active-foreground;
    alternate-active-foreground: @active-background;
    alternate-urgent-foreground: @urgent-foreground;
    alternate-urgent-background: @urgent-background;

    spacing: 2;
}